.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0f0f0f;
}

h1 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

.win{
  color: green;
}

.tied{
  color: red;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-family: Lobster;
  padding: 12px 36px;
  border: 2px solid #232931;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
  letter-spacing: 1px;
}

button:hover {
  background-color: #232931;
  color: #fff;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  opacity: 0.9;
}
